#img-bg{
    background-image: url('https://external-preview.redd.it/0PZcvjOsrpxIaE0xGe31invN1md1AXh0HYY_VBdYado.jpg?auto=webp&s=4fd16440f6fbbcd0a2e87fa21ebb7ccf9168dc63');

    min-height: 753px;  

    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}