#img-bg{
    background-image: url('https://pbs.twimg.com/media/D8jEctSU0AE8aNY?format=jpg&name=large');

    min-height: 753px;  

    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}