@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira&display=swap');

#img-bg {
    background-image: url('https://mfiles.alphacoders.com/728/728797.png');

    min-height: 753px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#fonte {
    font-family: 'Press Start 2P', cursive;
}

